.header {
    position: relative;
    padding-top: 4rem;
    display: flex;
    align-items: center;
    height: 100vh;
    max-height: 860px;
}

.container {
    /* max-width: 100%; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
    width: 50%;
}

.container h2 {
    font-weight: 600;
    font-size: 2.5rem;
    color: #333;
}

.container p {
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #555;
}

.register,
.login-btn {
    font-weight: bold;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    outline: none;
    display: inline-block;
    margin-right: 1rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.register {
    background-color: #333;
    ;
    color: #fff;
    transition: background-color 0.2s;
}

.register:hover {
    background-color: orange;
}

.login-btn {
    background-color: var(--secondary-color);
    color: #fff;
    transition: background-color 0.2s;
}

.login-btn:hover {
    background-color: #222;
}


.responsive-width {
    width: 100%;
    text-decoration: none;

}

@media (max-width: 1400px) {
    .container {
        width: 100%;
        overflow: hidden;

    }
}

@media (max-width: 768px) {
    .hidden {
        display: none;
    }
}

@media (max-width: 768px) {
    .hidden {
        display: none;
    }
}